.calendar {
  border-collapse: collapse;
}

.week-days {
  border-bottom: 2px solid #dce3eb;
  color: #dce3eb;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 100%;
  margin-top: 10px;
}
