/**
 * COLORS
 */
$light-grey: #dce3eb;
$dark-grey: #494c5a;
$red: #ff4156;
$orange: #ff6332;
$bg-red-gradient: linear-gradient(-60deg, $orange, $red);
$grey: #a9b8ce;
$grey-txt: #a9b8ce;
$txt-red: #ff6332;
$green: #1de58e;
